header {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding: 0% 5% 0% 5%;
    margin: 0;
    font-size: 1.0em;
}`
.pic {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}
main {
    font-family: "Lato", sans-serif;
    color: black;
}
h2 {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 2em;
}
p {
    font-family: "Lato", sans-serif;
    color: black;
    font-size: 1.2em;
}
